/* SEARCH-BAR MY LIBRARY */

.containerSearch {
    position: relative;
    --size-button: 40px;
    color: white;
    display: flex; /* Aggiunto per allineare la barra di ricerca e l'icona */
}

.input {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: #fff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    background-color: #191A1E;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
    background-color: #6C757D !important;
    filter: brightness(125%);
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
    pointer-events: all;
    cursor: pointer;
}

.containerSearch .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: -2px;
    left: -2px;
    padding: 8px;
    pointer-events: none;
}

.containerSearch .icon svg {
    width: 100%;
    height: 100%;
}

.input::placeholder {
    color: white
  }

/*ARTIST CARD AND SCROLL-BAR  */

.cardArtist img {
    width: 50px;
}

.artist {
    height: 68vh;
    overflow-y: scroll;
}

.artist::-webkit-scrollbar {
    width: 9px; /* Regola la larghezza della scrollbar */

  }
  
  .artist::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.507); /* Colore della barra interna */
   
  }
  
  .artist::-webkit-scrollbar-track {
    background-color: transparent; /* Sfondo trasparente */
  }
  
  .artist::-webkit-scrollbar-thumb:hover {
    background-color:rgba(255, 255, 255, 0.808); /* Colore della barra interna al passaggio del mouse (opzionale) */
  }

  /* PLAYER */
.player img{
width: 60px;
}

.song-time {
    width: 100%;
    margin-inline: auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: .3rem;
  }
  
  .time {
    width: 90%;
    background-color: #5e5e5e;
    height: .35rem;
    border-radius: 3px;
  }
  
  .elapsed {
    width: 42%;
    background-color: #1db954;
    height: 100%;
    border-radius: 3px;
  }

  .timetext {
    color: white;
  }

  .time_full {
    font-size: .8rem;
    background-color: #00000060;
    padding: .5rem;
    border-radius: .5rem;
    background-blend-mode: multiply;
  }

  .player-icon {
    width: 20px !important;
  }